<%= form_with(model: one_rep_max) do |form| %>
  <% if one_rep_max.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(one_rep_max.errors.count, "error") %> prohibited this one_rep_max from being saved:</h2>

      <ul>
        <% one_rep_max.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div> Deadlift Max: </div>
    <%= form.number_field :DeadliftMax %>
  </div>

  <div>
  <div> Shoulder Press Max: </div>
    <%= form.number_field :ShoulderPressMax %>
  </div>

  <div>
  <div> Squat Max: </div>
    <%= form.number_field :SquatMax %>
  </div>

  <div>
    <div> Bench Press Max: </div>
    <%= form.number_field :ChestPressMax %>
  </div>

  <div>
  <div>Best 5k Time</div>
  <span>Min: </span><%= form.number_field :cardioMin %>
  <span>Sec: </span><%= form.number_field :cardioSec %>
  </div>

<br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
