<div id="<%= dom_id one_rep_max %>">
  <p>
    <strong>Deadlift Max:</strong>
    <%= one_rep_max.DeadliftMax %>
  </p>

  <p>
    <strong>Shoulder Press Max:</strong>
    <%= one_rep_max.ShoulderPressMax %>
  </p>

  <p>
    <strong>Squat Max:</strong>
    <%= one_rep_max.SquatMax %>
  </p>

  <p>
    <strong>Chest Press Max:</strong>
    <%= one_rep_max.ChestPressMax %>
  </p>

  <p>
    <strong>5k Time:</strong>
    <%= one_rep_max.cardioMin %>
    '
    <%= one_rep_max.cardioSec %>
    &quot;
  </p>
</div>
