<p style="color: green"><%= notice %></p>

<%= render @weight_tracker %>

<div>
  <%= link_to "Edit this weight tracker", edit_weight_tracker_path(@weight_tracker) %> |
  <%= link_to "Back to weight trackers", weight_trackers_path %>

  <%= button_to "Destroy this weight tracker", @weight_tracker, method: :delete %>
</div>
