<div id="<%= dom_id cardio_tracker %>">
  <p>
    <strong>Miles:</strong>
    <%= cardio_tracker.miles %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= cardio_tracker.minutes %>
  </p>

  <p>
    <strong>Seconds:</strong>
    <%= cardio_tracker.seconds %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cardio_tracker.user_id %>
  </p>

</div>
